@font-face {
    font-family: 'SourceCodePro-SemiBold';
    src: url(/fonts/SourceCodePro-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Inconsolata_Condensed-Medium';
    src: url(/fonts/Inconsolata_Condensed-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'Oswald-Regular';
    src:url(/fonts/Oswald-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Oswald-Light';
    src: url(/fonts/Oswald-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'RobotoMono-Light';
    src: url(/fonts/RobotoMono-Light.ttf) format(truetype);

}

@font-face {
    font-family: 'SourceCodePro-Light';
    src: url(fonts/SourceCodePro-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'RobotoMono-SemiBold';
    src: url(fonts/RobotoMono-SemiBold.ttf) format(truetype); 
    font-weight: bold;
    font-style: bold;
}
