* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  min-width: 768px;
  background: rgb(255, 255, 255);
  
}

section {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  width: 3.5rem;
  border-radius: 100%;
  border: 2px solid #dbe6ea;
  background-color: rgb(255, 255, 255);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5rem;
  background-color: #13181b;
  border-right: 3px solid #00b5e8;
  padding: 0.4rem 0.8rem;
  transition: width 0.5s ease;
  white-space: nowrap;
  z-index: 1;
  font-family: 'RobotoMono-Light';
}

.sidebar.active {
  width: 12.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.sidebar.active .top .me {
  opacity: 1;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 3.125;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .me {
  color: #fff;
  display: flex;
  height: 3.125rem;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.top .me i {
  font-size: 2em;
  margin-right: 5px;
}

.logo1 {
  display: flex;
  justify-content: center;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 3.125rem;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 3.125rem;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #fff;
  color: #12171e;
}

.sidebar ul li a i {
  min-width: 3.125rem;
  text-align: center;
  height: 3.125rem;
  border-radius: 0.75rem;
  line-height: 3.125rem;
}

.sidebar .nav-item {
  display: none;
  opacity: 0;
}

.sidebar.active .nav-item {
  display: block;
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 7.8125rem;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  display: none;
}

.sidebar ul li:hover .tooltip {
  display: block;
}

/*  solucionar con javascript */

.sidebar.active ul li .tooltip {
  display: none;
}

/* /Contenido principal/ */
main {
  position: absolute;
  background: linear-gradient(180deg, rgba(9, 43, 80, 1) 0%, rgb(1 24 50) 9%, rgba(2, 6, 23, 1) 100%);
  opacity: 1;
  min-height: 100vh;
  top: 0;
  left: 5rem;
  width: calc(100% - 5rem);
  padding: 1rem;
  transition: left 0.5s ease, width 0.5s ease;
  color: #fff;
  overflow: hidden;
}

/*  INICIO */
.inicio {
  scroll-margin-top: 12.5rem;
  display: flex;
  align-items: center;
  margin: 15rem auto 16rem;
  gap: 4.5rem;
}

.inicio img {
  height: 15rem;
  width: 15rem;
  border-radius: 10rem;
  border: solid 3px #00b5e8;
  object-fit: cover;
}

h1 {
  font-size: 2.5rem;
  font-family: "SourceCodePro-SemiBold";
}

.direction a{
  margin-top: 0.7rem;
  text-decoration: none;
  color: #fff;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Inconsolata_Condensed-Medium";
}

.direction a:hover{
  color: #c8c5c5;
  text-decoration: underline;
}

.inicio-data footer{
  display: flex;
    gap: 0.5rem;
    margin-top: 0.375rem;
}

.inicio-data footer a{
  width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    color: #fff;
    border: #d6d3d3 solid 1px;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}


.inicio-data footer a:hover{
  background-color: #484b4f;
}

.inicio-data-parraph {
  font-size: 1.5rem;
  font-family: "Inconsolata_Condensed-Medium";
  max-width: 50rem;
  word-wrap: break-word;
}

.inicio b {
  color: #00c8ff;
}
/* PROYECTOS */
.proyectos {
  scroll-margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.proyect-data {
  display: flex;
  /* justify-content: center; */
}

.image-card img {
  width: 27rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 1.5rem;
  translate: 0.5rem 0.5rem;
  transition: transform 0.3s ease-in-out;  
}

.image-card:hover img {
  transform:translate(-2rem, -2rem);
  width: 28rem;
  height: 15rem;
  position: absolute;
}



.image-card{
  width: 29rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 1.5rem;
  background: rgb(7,12,18);
background: linear-gradient(180deg, rgba(7,12,18,1) 13%, rgba(23,15,42,1) 41%, rgba(49,28,88,1) 67%, rgba(49,28,88,1) 100%);
  display: flex;
justify-content: end;
align-items: end;
overflow: hidden;
}

.proyect-data-text {
  margin-left: 2rem;
  max-width: 27rem;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h2 {
  display: inline-flex;
  column-gap: 0.75rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
    font-family: 'SourceCodePro-SemiBold';
}


.proyectos h3 {
  font-size: 1.5rem;
  color: #f3f4f6;
  font-family: 'SourceCodePro-Light';
}

.proyect-data-tags {
  list-style-type: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.proyect-data-tags li {
  display: inline-flex;
  align-items: center;
  padding: 0.6rem;
  height: 1.5rem;
  background-color: #000000;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-family: 'RobotoMono-Light';
}

.proyecto-data-parraph{
  font-size: 1rem;
  font-family: 'RobotoMono-Light';
}

.proyectos footer{
  display: inline-flex;
  margin-top: 1rem;
  column-gap: 1rem;
}


.proyectos footer a{
  display: flex;
  align-items: center;
  justify-content: center;
gap: 0.5rem;
color: #f3f4f6;
text-decoration: none;
background-color: #151b24;
width: 9rem;
height: 3rem;
border-radius: 0.7rem;
font-size: 1rem;
font-family: 'RobotoMono-SemiBold';
border: solid 0.5px #f3f4f6;
}
.proyectos footer a img{
  height: 1.7rem;
  width: 1.7rem;
}

.proyectos footer a:hover{
border: none;
}

.proyectos-flex{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.habilidades{
  scroll-margin-top: 9rem;
  margin-top: 10rem;
}
.skills{

background: linear-gradient(0deg,rgba(0, 0, 0, 0.086), rgba(0, 0, 0, 0.289), rgba(0, 0, 0, 0.689));
/* max-width: 80%; */
margin: 0rem auto 0rem auto;
padding-top: 5rem;
padding-bottom: 5rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
}

.technology {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
  font-family: 'SourceCodePro-Light';
  flex-basis: 5rem;
}

.githubsvg{
  width: 48px;
  height: 48px;
}

.sobreMi{
  scroll-margin-top: 1rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.sobreMi-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.sobreMi-data p{
  font-family: 'SourceCodePro-Light';
  font-size: 1.2rem;
  color: #fff;
}

.sobreMi-data p b{
  color: #34c6ee;
}

.sobreMi img{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid #282929;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 58px;
    width: 100%;
    background-color: #13181b;
    border-bottom: 3px solid #00b5e8;
    border-right: none;
    transition: height 0.5s ease;
    font-size: 1.2em;
    overflow: hidden;
    z-index: 20;
    padding: 0rem 0.8rem;
  }

  .sidebar ul li:hover .tooltip {
    display: none;
  }

  .sidebar .nav-item {
    opacity: 1;
    display: block;
  }

  .sidebar #btn {
    position: static;
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
    transform: none;
  }

  .sidebar .logo1 {
    opacity: 1;
    display: flex;
    justify-content: center;
  }

  .sidebar .logo-img {
    width: 100px;
    height: 100px;
  }

  .sidebar .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideUp-barBottom 0.5s ease forwards;
  }

  .sidebar .top {
    border-top: 0.4rem solid #12171e;
  }

  .sidebar .top .me {
    opacity: 1;
  }

  .sidebar .top {
    position: relative;
    background-color: #12171e;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* CONTENIDO PRINCIPAL */
  main {
    margin-top: 58px;
    background-color:   linear-gradient(180deg, rgba(9, 43, 80, 1) 0%, rgb(1 24 50) 16%, rgba(2, 6, 23, 1) 100%);
    position: fixed;
    z-index: 10;
    height: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    opacity: 1;
    overflow: scroll;
  
  }
/* INICIO */
  .inicio {
    scroll-margin-top: 1rem;
    margin-top: 4rem;
    margin-bottom: 0rem;
    flex-direction: column-reverse;
    margin-bottom: 10rem;
    gap: 2rem;
  }

  .inicio-data-parraph {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.25rem;
    font-family: "SourceCodePro-SemiBold";
  }



  .sidebar.active {
    
    overflow: hidden;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #12171e;
    padding: 0rem 0.8rem;
    border-bottom: 3px solid #00b5e8;
  }
  .sidebar ul li a:hover {
    background-color: transparent;
    color: #fff;
  }
  .sidebar.active .top {
    border-top: 0.4rem solid #12171e;
  }

  .sidebar.active #btn {
    position: static;
    color: #fff;
    font-size: 2rem;
    line-height: 50px;
    transform: none;
  }

  .sidebar.active .logo1 {
    opacity: 1;
    display: flex;
    justify-content: center;
  }

  .sidebar.active .logo-img {
    width: 100px;
    height: 100px;
  }

  .sidebar.active .nav-item {
    opacity: 1;
    display: block;
  }

  .sidebar.active~main {
    position: fixeds;
    left: 0;
  
    width: auto;
    overflow: none;
  }

  .sidebar.active ul {
    display: inline-block;
    opacity: 1;
  }

  .sidebar.sidebar li {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
  }

  .sidebar.active .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideDown-barBottom 0.5s ease forwards;
  }

  .sidebar.active ul li a:hover {
    background-color: #12171e;
    color: #fff;
  }

  .proyect-data{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .image-card{
    width:87vw;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }

  .image-card img{
  width: 83vw;
  height: 14rem;
  object-fit: cover;
  border-radius: 1.5rem;
  translate: none;
  transition: none; 
  max-width: 29rem;
  }

  .image-card:hover img{
    transform:translate(0rem , 0rem);
    width: 83vw;
    height: 14rem;
    max-width: 29rem;
  }

  .proyect-data-text{
    max-width: none;
    width:80vw;
    height: 20rem;
  }
  
  .proyectos footer a:hover{
    border: solid 0.5px #f3f4f6;
}

.sobreMi-data{
  flex-direction: column-reverse;

}

}
